.meteor/local
.build
.build.*
.npm
.git

# This is necessary so plugins can use git repos as npm deps.
# Leave this here unless you understand the implications.
# See this issue for details: 
# https://github.com/mailchimp-open-commerce/api-server/pull/5118
!.git/modules/imports/plugins/custom

.build.log
Dockerfile
Dockerfile-devserver
.moc/docker/reaction.*
docs
node_modules
packages/*/.npm
packages/*/lib/bower
